
<section class="cus-ep-earn-points-section">
  <div class="page-width cus-ep-container">
    {% if section.settings.heading != blank %}
      <h2 class="cus-ep-earn-points-heading">{{ section.settings.heading }}</h2>
    {% endif %}

    <div class="cus-ep-earn-points-grid">
      <!-- Top Row Actions -->
      <div class="cus-ep-earn-points-row">
        {% for block in section.blocks %}
          {% if block.settings.row == 'top' %}
            <div class="cus-ep-earn-points-card" {{ block.shopify_attributes }}>
              <div class="cus-ep-earn-points-icon">
                {% case block.settings.icon %}
                  {% when 'cart' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                      <g clip-path="url(#clip0_223_6312)">
                      <path d="M8.98438 20.4375C8.98438 21.6006 9.93063 22.5468 11.0937 22.5468C12.2568 22.5468 13.2031 21.6006 13.2031 20.4375C13.2031 19.2744 12.2568 18.3281 11.0937 18.3281C9.93063 18.3281 8.98438 19.2744 8.98438 20.4375ZM11.0937 19.7344C11.4814 19.7344 11.7968 20.0498 11.7968 20.4375C11.7968 20.8252 11.4814 21.1406 11.0937 21.1406C10.706 21.1406 10.3906 20.8252 10.3906 20.4375C10.3906 20.0498 10.706 19.7344 11.0937 19.7344Z" fill="#101828"/>
                      <path d="M16.0625 20.4375C16.0625 21.6006 17.0088 22.5468 18.1718 22.5468C19.3349 22.5468 20.2812 21.6006 20.2812 20.4375C20.2812 19.2744 19.3349 18.3281 18.1718 18.3281C17.0088 18.3281 16.0625 19.2744 16.0625 20.4375ZM18.1718 19.7344C18.5595 19.7344 18.875 20.0498 18.875 20.4375C18.875 20.8252 18.5595 21.1406 18.1718 21.1406C17.7841 21.1406 17.4687 20.8252 17.4687 20.4375C17.4687 20.0498 17.7841 19.7344 18.1718 19.7344Z" fill="#101828"/>
                      <path d="M23.7965 4.26558H5.99915C5.7584 3.42283 5.53406 2.63759 5.34136 1.96312C5.25516 1.66125 4.97921 1.45312 4.66529 1.45312H1.20311C0.814808 1.45312 0.5 1.76793 0.5 2.15624C0.5 2.54455 0.814808 2.85935 1.20311 2.85935H4.13491C4.92118 5.61162 6.75931 12.0453 7.52992 14.7424L7.26354 15.2752C6.56159 16.6792 7.58387 18.3279 9.15022 18.3279H20.9841C21.3724 18.3279 21.6872 18.0131 21.6872 17.6247C21.6872 17.2364 21.3724 16.9216 20.9841 16.9216H9.15022C8.6273 16.9216 8.28769 16.3714 8.52131 15.9041L8.71565 15.5154H20.9841C21.298 15.5154 21.5739 15.3073 21.6601 15.0055L24.4726 5.16186C24.6007 4.71351 24.2638 4.26558 23.7965 4.26558ZM20.4537 14.1092H8.81151C8.42841 12.7682 7.35621 9.01559 6.40091 5.67181H22.8644L20.4537 14.1092Z" fill="#101828"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_223_6312">
                      <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
                      </clipPath>
                      </defs>
                    </svg>
                  {% when 'user' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                      <g clip-path="url(#clip0_223_6327)">
                      <path d="M17.7298 12.0426C17.2686 11.8234 16.798 11.6345 16.3192 11.4763C17.87 10.3123 18.875 8.45883 18.875 6.375C18.875 2.85984 16.0152 0 12.5 0C8.98478 0 6.12498 2.85984 6.12498 6.375C6.12498 8.46113 7.13223 10.3164 8.6859 11.4802C7.2624 11.9489 5.9267 12.6781 4.75764 13.6397C2.61395 15.403 1.12347 17.8625 0.560826 20.5651C0.384482 21.412 0.595748 22.2818 1.14034 22.9515C1.68226 23.6178 2.48584 24 3.34497 24H14.8906C15.4084 24 15.8281 23.5803 15.8281 23.0625C15.8281 22.5447 15.4084 22.125 14.8906 22.125H3.34497C2.94475 22.125 2.70329 21.9016 2.59501 21.7685C2.40803 21.5385 2.33565 21.2393 2.39645 20.9473C3.36934 16.2741 7.49134 12.8603 12.2515 12.7452C12.3339 12.7484 12.4167 12.75 12.5 12.75C12.584 12.75 12.6677 12.7484 12.7509 12.7451C14.2097 12.7793 15.6127 13.1123 16.9249 13.7361C17.3926 13.9583 17.9518 13.7595 18.1741 13.2918C18.3963 12.8242 18.1975 12.2649 17.7298 12.0426ZM12.7286 10.8692C12.6526 10.8679 12.5763 10.8672 12.5 10.8672C12.4243 10.8672 12.3487 10.8679 12.2731 10.8693C9.89678 10.7508 7.99998 8.78025 7.99998 6.375C7.99998 3.89367 10.0187 1.875 12.5 1.875C14.9813 1.875 17 3.89367 17 6.375C17 8.77964 15.1041 10.7498 12.7286 10.8692Z" fill="#101828"/>
                      <path d="M23.5625 18.6094H20.9844V16.0312C20.9844 15.5135 20.5647 15.0938 20.0469 15.0938C19.5291 15.0938 19.1094 15.5135 19.1094 16.0312V18.6094H16.5312C16.0135 18.6094 15.5938 19.0291 15.5938 19.5469C15.5938 20.0647 16.0135 20.4844 16.5312 20.4844H19.1094V23.0625C19.1094 23.5803 19.5291 24 20.0469 24C20.5647 24 20.9844 23.5803 20.9844 23.0625V20.4844H23.5625C24.0803 20.4844 24.5 20.0647 24.5 19.5469C24.5 19.0291 24.0803 18.6094 23.5625 18.6094Z" fill="#101828"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_223_6327">
                      <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
                      </clipPath>
                      </defs>
                    </svg>
                  {% when 'thumbs-up' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M16.7188 0C16.4599 0 16.25 0.209906 16.25 0.46875V2.625C16.25 2.88384 16.4599 3.09375 16.7188 3.09375C16.9776 3.09375 17.1875 2.88384 17.1875 2.625V0.46875C17.1875 0.209906 16.9776 0 16.7188 0Z" fill="#101828"/>
                        <path d="M5.9375 14.625C5.67875 14.625 5.46875 14.835 5.46875 15.0938C5.46875 15.3525 5.67875 15.5625 5.9375 15.5625C6.19625 15.5625 6.40625 15.3525 6.40625 15.0938C6.40625 14.835 6.19625 14.625 5.9375 14.625Z" fill="#101828"/>
                        <path d="M23.2812 13.6875C23.2812 12.6536 22.4401 11.8125 21.4062 11.8125H17.9069C18.4487 10.4249 18.668 8.79155 18.6257 7.33762C18.6176 7.06017 18.607 6.89972 18.5926 6.7987C18.5683 5.78588 17.7367 4.96875 16.7188 4.96875C15.6849 4.96875 14.8438 5.80988 14.8438 6.84375V7.3125C14.8438 10.2772 11.0368 11.9429 8.16388 12.6571C7.94666 12.1605 7.45081 11.8125 6.875 11.8125H2.1875C1.92866 11.8125 1.71875 12.0224 1.71875 12.2812V23.5312C1.71875 23.7901 1.92866 24 2.1875 24H6.875C7.44697 24 7.93995 23.6565 8.15942 23.1652C8.39731 23.2262 8.61814 23.2839 8.822 23.3371C10.4586 23.7646 11.3602 24 13.5528 24H18.5938C19.6276 24 20.4688 23.1589 20.4688 22.125C20.4688 21.7395 20.3517 21.3809 20.1514 21.0826C20.8755 20.8293 21.4062 20.1375 21.4062 19.3125C21.4062 18.9284 21.2921 18.5686 21.0924 18.269C21.8133 18.0153 22.3438 17.325 22.3438 16.5C22.3438 16.1145 22.2267 15.7559 22.0264 15.4576C22.7505 15.2043 23.2812 14.5125 23.2812 13.6875ZM7.34375 22.5938C7.34375 22.8522 7.13347 23.0625 6.875 23.0625H2.65625V12.75H6.875C7.13347 12.75 7.34375 12.9603 7.34375 13.2188V22.5938ZM21.4062 14.625C20.4008 14.625 20.1612 14.625 19.0625 14.625C18.8037 14.625 18.5938 14.8349 18.5938 15.0938C18.5938 15.3526 18.8037 15.5625 19.0625 15.5625H20.4688C20.9857 15.5625 21.4062 15.9831 21.4062 16.5C21.4062 17.0178 20.9865 17.4375 20.4688 17.4375H18.125C17.8662 17.4375 17.6562 17.6474 17.6562 17.9062C17.6562 18.1651 17.8662 18.375 18.125 18.375H19.5312C20.042 18.375 20.4688 18.783 20.4688 19.3125C20.4688 19.8303 20.049 20.25 19.5312 20.25C18.5258 20.25 18.2862 20.25 17.1875 20.25C16.9287 20.25 16.7188 20.4599 16.7188 20.7188C16.7188 20.9776 16.9287 21.1875 17.1875 21.1875H18.5938C19.1107 21.1875 19.5312 21.6081 19.5312 22.125C19.5312 22.6419 19.1107 23.0625 18.5938 23.0625H13.5528C11.4806 23.0625 10.6713 22.8511 9.05891 22.4301C8.8227 22.3684 8.56362 22.3007 8.28125 22.2287V13.5949C11.6735 12.7869 15.7812 10.8146 15.7812 7.3125V6.84375C15.7812 6.32681 16.2018 5.90625 16.7188 5.90625C17.2347 5.90625 17.6553 6.32616 17.6562 6.8423V6.84375C17.6562 7.04747 17.9105 9.54764 16.891 11.8125H15.3125C15.0537 11.8125 14.8438 12.0224 14.8438 12.2812C14.8438 12.5401 15.0537 12.75 15.3125 12.75C15.6398 12.75 20.872 12.75 21.4062 12.75C21.9232 12.75 22.3438 13.1706 22.3438 13.6875C22.3438 14.2053 21.924 14.625 21.4062 14.625Z" fill="#101828"/>
                        <path d="M5.9375 16.5C5.67866 16.5 5.46875 16.7099 5.46875 16.9688V20.7188C5.46875 20.9776 5.67866 21.1875 5.9375 21.1875C6.19634 21.1875 6.40625 20.9776 6.40625 20.7188V16.9688C6.40625 16.7099 6.19634 16.5 5.9375 16.5Z" fill="#101828"/>
                        <path d="M12.9688 5.90625H11.0938C10.8349 5.90625 10.625 6.11616 10.625 6.375C10.625 6.63384 10.8349 6.84375 11.0938 6.84375H12.9688C13.2276 6.84375 13.4375 6.63384 13.4375 6.375C13.4375 6.11616 13.2276 5.90625 12.9688 5.90625Z" fill="#101828"/>
                        <path d="M22.3438 5.90625H20.4688C20.2099 5.90625 20 6.11616 20 6.375C20 6.63384 20.2099 6.84375 20.4688 6.84375H22.3438C22.6026 6.84375 22.8125 6.63384 22.8125 6.375C22.8125 6.11616 22.6026 5.90625 22.3438 5.90625Z" fill="#101828"/>
                        <path d="M21.0272 2.06694C20.8441 1.88394 20.5474 1.88394 20.3642 2.06694L19.0387 3.39252C18.8556 3.57556 18.8556 3.87238 19.0387 4.05547C19.2218 4.23852 19.5185 4.23847 19.7016 4.05547L21.0272 2.72989C21.2102 2.54684 21.2102 2.25003 21.0272 2.06694Z" fill="#101828"/>
                        <path d="M14.3983 3.39252L13.0727 2.06694C12.8896 1.88394 12.5929 1.88394 12.4097 2.06694C12.2267 2.24998 12.2267 2.5468 12.4097 2.72989L13.7353 4.05547C13.9185 4.23852 14.2152 4.23847 14.3983 4.05547C14.5813 3.87242 14.5813 3.57561 14.3983 3.39252Z" fill="#101828"/>
                      </svg>
                  {% when 'heart' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M12.5 20.4375C12.0093 20.4379 11.5288 20.2973 11.1158 20.0325C9.94391 19.2792 7.69016 17.7333 5.78375 15.8456C3.44422 13.5272 2.25781 11.3437 2.25781 9.35435C2.25781 7.972 2.66656 6.70544 3.44 5.692C4.17344 4.72837 5.2095 4.03925 6.38173 3.73533C7.55397 3.43141 8.79435 3.53034 9.90359 4.01622C10.8964 4.44466 11.7819 5.167 12.5 6.1256C13.2181 5.16466 14.1036 4.44232 15.0964 4.01622C16.2057 3.53034 17.446 3.43141 18.6183 3.73533C19.7905 4.03925 20.8266 4.72837 21.56 5.692C22.3334 6.70544 22.7422 7.972 22.7422 9.35435C22.7422 11.3437 21.5558 13.5262 19.2162 15.8437C17.3098 17.7314 15.057 19.2773 13.8842 20.0306C13.4714 20.2961 12.9909 20.4373 12.5 20.4375ZM7.72625 4.73716C7.3555 4.73683 6.98634 4.78569 6.62844 4.88247C5.73014 5.12909 4.93737 5.6632 4.37141 6.4031C3.75547 7.21029 3.42969 8.23122 3.42969 9.35622C3.42969 11.0212 4.49891 12.9243 6.60828 15.0131C8.43641 16.8253 10.6147 18.3178 11.7491 19.0443C11.973 19.1874 12.2333 19.2635 12.4991 19.2635C12.7648 19.2635 13.0251 19.1874 13.2491 19.0443C14.3834 18.3159 16.5598 16.8234 18.3898 15.0131C20.4992 12.9243 21.5684 11.0212 21.5684 9.35622C21.5684 8.23122 21.2427 7.21216 20.6267 6.4031C20.0608 5.6632 19.268 5.12909 18.3697 4.88247C16.768 4.44747 14.5175 4.90216 13.0034 7.4831C12.9518 7.5713 12.878 7.64445 12.7894 7.69529C12.7007 7.74613 12.6003 7.77288 12.4981 7.77288C12.3959 7.77288 12.2955 7.74613 12.2069 7.69529C12.1182 7.64445 12.0444 7.5713 11.9928 7.4831C10.8031 5.45154 9.155 4.73716 7.72625 4.73716Z" fill="#101828"/>
                    </svg>
                    {% when 'thums' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_223_6401)">
                          <path d="M22.4184 5.04462L20.996 4.8379L20.3599 3.54902C20.1453 3.11378 19.5242 3.11396 19.3095 3.54902L18.6733 4.8379L17.251 5.04462C16.7709 5.11439 16.579 5.7049 16.9263 6.04365L17.9556 7.04688L17.7126 8.46357C17.6304 8.94367 18.1348 9.30585 18.5626 9.081L19.8348 8.41212L21.107 9.081C21.5362 9.30677 22.0388 8.94202 21.9568 8.46357L21.7138 7.04688L22.743 6.04365C23.0906 5.7049 22.8987 5.11439 22.4184 5.04462ZM21.1788 6.58655C21.0407 6.72114 20.9779 6.91486 21.0103 7.10493L21.2236 8.34785L20.1072 7.76099C19.9368 7.67127 19.7328 7.67127 19.5621 7.76099L18.4459 8.34785L18.6591 7.10474C18.6917 6.91486 18.6287 6.72114 18.4906 6.58655L17.5875 5.70618L18.8356 5.52491C19.0264 5.49708 19.1912 5.37733 19.2765 5.20447L19.8346 4.07362L20.3927 5.20447C20.478 5.37733 20.643 5.49708 20.8338 5.52491L22.0818 5.70618L21.1788 6.58655Z" fill="#101828"/>
                          <path d="M3.71184 3.54904L3.07573 4.83792L1.65337 5.04465C1.17308 5.11441 0.98137 5.70492 1.32872 6.04367L2.35796 7.0469L2.11498 8.46341C2.03258 8.94351 2.53722 9.30588 2.96477 9.08102L4.23717 8.41214L5.50938 9.08102C5.93858 9.30697 6.44121 8.94168 6.35918 8.46359L6.11619 7.0469L7.14543 6.04367C7.49296 5.70492 7.30089 5.11423 6.82078 5.04446L5.39842 4.83774L4.76231 3.54886C4.54753 3.1138 3.92662 3.11398 3.71184 3.54904ZM4.79527 5.2045C4.8806 5.37735 5.04558 5.4971 5.23637 5.52493L6.48424 5.70621L5.58134 6.58639C5.4431 6.72116 5.38011 6.91489 5.4127 7.10495L5.62584 8.34787L4.50963 7.7612C4.33897 7.67148 4.13518 7.67129 3.96452 7.7612L2.84813 8.34805L3.06145 7.10513C3.09404 6.91507 3.03105 6.72134 2.89299 6.58658L1.98991 5.70639L3.23778 5.52493C3.42857 5.49728 3.59355 5.37753 3.67888 5.2045L4.23698 4.07364L4.79527 5.2045Z" fill="#101828"/>
                          <path d="M5.96759 22.4114C5.96759 22.5041 5.89233 22.5795 5.79968 22.5795H4.71826C4.52399 22.5795 4.3667 22.7368 4.3667 22.9311C4.3667 23.1252 4.52399 23.2827 4.71826 23.2827H5.79968C6.22888 23.2827 6.58594 22.9701 6.65698 22.5608L6.90582 22.5607H6.90655C8.13391 22.5607 8.09839 24.0008 10.0371 24.0006H10.0404H16.2057C16.9534 24.0006 17.5616 23.3923 17.5616 22.6447C17.5616 22.2899 17.4247 21.9665 17.2007 21.7246C17.5298 21.4853 17.7499 21.1072 17.7642 20.6824C17.7757 20.3347 17.6576 20.0043 17.4307 19.7449C17.7826 19.5074 18.0207 19.1152 18.035 18.6726C18.0478 18.2791 17.8951 17.9131 17.6173 17.6437C18.5841 16.8342 18.0143 15.2489 16.7476 15.2489C16.7474 15.2489 16.7468 15.2489 16.7466 15.2489H12.8121C13.3929 13.4755 13.3753 13.6194 13.3753 11.5399C13.3753 10.6909 12.6844 10 11.8354 10C11.066 10 10.4097 10.5753 10.309 11.3381C10.0563 13.2481 9.75091 13.4464 8.42523 14.723C8.06396 15.0709 7.58862 15.2626 7.0871 15.2626H6.62439C6.50793 14.9186 6.18255 14.6699 5.79968 14.6699H1.99622C1.51575 14.6699 1.125 15.0607 1.125 15.5411V22.4116C1.125 22.8919 1.51575 23.2827 1.99622 23.2827H3.07745C3.27173 23.2827 3.42902 23.1254 3.42902 22.9311C3.42902 22.737 3.27173 22.5795 3.07745 22.5795H1.99622C1.90356 22.5795 1.82812 22.5043 1.82812 22.4116V15.541C1.82812 15.4483 1.90356 15.373 1.99622 15.373H5.79968C5.89233 15.373 5.96759 15.4483 5.96759 15.541V22.4114ZM6.67071 15.9656H7.08691C7.77136 15.9656 8.41992 15.7041 8.91284 15.2295C10.313 13.8813 10.7249 13.5574 11.0059 11.4302C11.0607 11.0157 11.4172 10.7031 11.8354 10.7031C12.2966 10.7031 12.672 11.0785 12.672 11.5397C12.672 13.5912 12.7075 13.3087 12.0663 15.2661C11.9557 15.6038 12.2078 15.9518 12.5632 15.9518H16.7468H16.7474C17.1077 15.9518 17.4009 16.2435 17.4012 16.6024C17.4014 16.9629 17.1083 17.2567 16.7481 17.2568C16.1224 17.2574 17.6931 17.2572 15.0657 17.2572C14.8716 17.2572 14.7142 17.4147 14.7142 17.6088C14.7142 17.803 14.8716 17.9603 15.0657 17.9603H16.6631H16.6641H16.6648C17.0398 17.9603 17.3443 18.2736 17.332 18.6497C17.3209 18.9974 17.0164 19.2805 16.6531 19.2805C15.8417 19.2805 16.8973 19.2809 15.0657 19.2809C14.8716 19.2809 14.7142 19.4384 14.7142 19.6324C14.7142 19.8265 14.8716 19.984 15.0657 19.984C17.4966 19.984 15.5175 19.9836 16.409 19.9836C16.7745 19.9836 17.0737 20.2848 17.0612 20.6589C17.0497 21.0063 16.7452 21.289 16.3826 21.289C16.3826 21.289 16.3381 21.2894 15.0657 21.2894C14.8715 21.2894 14.7142 21.4468 14.7142 21.6409C14.7142 21.8352 14.8715 21.9925 15.0657 21.9925H16.2138C16.5699 21.9969 16.8583 22.2877 16.8583 22.6449C16.8583 23.0047 16.5655 23.2975 16.2057 23.2975H10.0402C10.0391 23.2975 10.0382 23.2975 10.0373 23.2975C8.40326 23.2975 8.55084 21.8575 6.9071 21.8575C6.90655 21.8575 6.906 21.8575 6.90564 21.8575L6.67071 21.8577V15.9656Z" fill="#101828"/>
                          <path d="M14.8514 4.89896C14.7125 5.03446 14.7097 5.25712 14.8452 5.39609C14.9809 5.53525 15.2034 5.538 15.3424 5.4025L16.5871 4.18925C17.0203 3.76682 16.781 3.03056 16.1824 2.94358L13.7838 2.59513C13.775 2.59385 13.7673 2.58836 13.7634 2.5803L12.6908 0.406837C12.4231 -0.135704 11.6488 -0.135521 11.3812 0.406837L10.3084 2.5803C10.3046 2.58836 10.2969 2.59385 10.2881 2.59513L7.88942 2.94358C7.29084 3.03074 7.05171 3.767 7.48475 4.18925L9.22041 5.88096C9.22682 5.88718 9.22975 5.89615 9.22828 5.90494L8.81849 8.29392C8.71577 8.89231 9.34474 9.34403 9.87794 9.0637L12.0234 7.93577C12.0313 7.93174 12.0406 7.93155 12.0485 7.93577L14.1939 9.0637C14.7291 9.34513 15.3557 8.89011 15.2534 8.29392L14.9855 6.73221C14.9527 6.54069 14.7707 6.41196 14.5797 6.44492C14.3882 6.47788 14.2597 6.65952 14.2926 6.85105L14.5605 8.41276C14.5616 8.41971 14.5632 8.42942 14.5497 8.43931C14.5361 8.44901 14.5275 8.44462 14.5213 8.44132L12.3759 7.31339C12.1631 7.20151 11.9089 7.20151 11.6962 7.31339L9.55073 8.44132C9.54451 8.44462 9.5359 8.44901 9.52235 8.43931C9.5088 8.42942 9.51045 8.41971 9.51155 8.41276L9.92134 6.02396C9.96199 5.78702 9.88362 5.54532 9.71131 5.3776L7.97566 3.68571C7.97071 3.68076 7.96357 3.67399 7.96888 3.65806C7.97401 3.64194 7.98371 3.64066 7.99067 3.63956L10.3894 3.29111C10.6272 3.25651 10.8327 3.10709 10.9392 2.89158L12.0119 0.717933C12.015 0.711708 12.0194 0.702919 12.036 0.702919C12.0529 0.702919 12.0571 0.711708 12.0604 0.717933L13.133 2.89139C13.2394 3.10709 13.4448 3.25651 13.6829 3.29093L16.0816 3.63956C16.0885 3.64048 16.098 3.64194 16.1033 3.65787C16.1085 3.67399 16.1015 3.68076 16.0966 3.68571L14.8514 4.89896Z" fill="#101828"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_223_6401">
                          <rect width="24" height="24" fill="white"/>
                          </clipPath>
                          </defs>
                        </svg>
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_223_6380)">
                        <path d="M12.4951 13.5996C11.5985 13.5955 10.7077 13.455 9.85331 13.183C8.48818 12.7263 7.47422 11.5706 7.19899 10.1577C6.89783 8.70709 7.44667 7.17329 8.70447 5.94969C8.83943 5.81825 8.97967 5.69234 9.12519 5.57197C10.413 4.49378 12.1493 4.11909 13.7672 4.57021C15.3335 5.07013 16.4158 6.50155 16.4699 8.14481C16.5286 9.09071 16.2203 10.0228 15.6092 10.7472C15.1378 11.3409 14.3742 11.6213 13.6306 11.4737C13.3265 11.4106 13.0612 11.2265 12.8958 10.9636C12.7473 10.7084 12.7093 10.4036 12.7904 10.1196C13.1402 8.79741 13.4958 6.78801 13.4993 6.76765C13.5242 6.62689 13.6222 6.51007 13.7565 6.4612C13.8909 6.41234 14.0411 6.43885 14.1505 6.53074C14.26 6.62264 14.3122 6.76597 14.2873 6.90673C14.2725 6.99033 13.9223 8.96961 13.5639 10.3241C13.5383 10.3992 13.5447 10.4815 13.5816 10.5516C13.6369 10.6282 13.7204 10.6796 13.8136 10.6946C14.2688 10.7706 14.7286 10.588 15.0076 10.2204C15.4822 9.65267 15.7199 8.92402 15.6716 8.18565C15.6325 6.87764 14.7747 5.73567 13.5294 5.33365C12.1701 4.95977 10.7139 5.27917 9.63579 6.18765C9.50727 6.29433 9.38227 6.40601 9.26235 6.52281C8.64051 7.12769 7.64751 8.38281 7.98211 9.99481C8.20693 11.121 9.01126 12.044 10.0962 12.4206C11.9722 13.019 14.6678 13.0911 16.0882 11.3251C16.2277 11.157 16.4763 11.132 16.6465 11.2689C16.8168 11.4057 16.8457 11.6538 16.7116 11.8262C15.6613 13.1324 14.0631 13.5996 12.4951 13.5996Z" fill="#101828"/>
                        <path d="M11.1256 11.5247C10.7027 11.532 10.2903 11.3934 9.9578 11.1321C9.19004 10.5177 9.16892 9.4503 9.38416 8.72338C9.45664 8.48129 9.55398 8.24735 9.6746 8.0253C9.97473 7.41974 10.4546 6.92171 11.0486 6.59934C11.7884 6.21549 12.6922 6.36105 13.274 6.95774C13.5626 7.27407 13.7801 7.64864 13.9116 8.05618C13.9813 8.26298 13.8723 8.48746 13.6667 8.56067C13.4611 8.63388 13.2348 8.52882 13.1581 8.32454C13.0632 8.02345 12.9056 7.74592 12.6956 7.51026C12.3564 7.16336 11.8278 7.08443 11.4021 7.3171C10.9566 7.56832 10.5986 7.94976 10.3761 8.41026C10.2826 8.58279 10.207 8.76448 10.1507 8.95246C9.99524 9.47826 10.0294 10.1645 10.4583 10.5079C10.9272 10.8845 11.7183 10.7253 12.1634 10.3413C12.4951 10.0427 12.7801 9.69602 13.0089 9.31282C13.083 9.18867 13.2183 9.11417 13.3628 9.11794C13.5073 9.12171 13.6386 9.20318 13.7061 9.33102C13.7736 9.45885 13.7669 9.61317 13.6885 9.73466C13.4175 10.1862 13.0801 10.5944 12.6877 10.9456C12.2503 11.3146 11.6978 11.5195 11.1256 11.5247Z" fill="#101828"/>
                        <path d="M22.8 24.0018H1.2C0.53756 24.0011 0.000727484 23.4643 0 22.8018V8.00182C6.288e-06 7.84671 0.0896867 7.70558 0.230113 7.6397C0.37054 7.57382 0.536393 7.59507 0.65568 7.69422L10.4705 15.8512C11.3586 16.5846 12.6423 16.5844 13.5301 15.8507L23.344 7.69422C23.4633 7.59487 23.6293 7.5735 23.7698 7.6394C23.9104 7.70531 24.0001 7.84658 24 8.00182V22.8018C23.9993 23.4643 23.4624 24.0011 22.8 24.0018ZM0.8 8.85434V22.8018C0.800286 23.0226 0.979205 23.2015 1.2 23.2018H22.8C23.0208 23.2016 23.1998 23.0227 23.2 22.8018V8.85434L14.0408 16.4663C12.8566 17.445 11.1443 17.4453 9.95976 16.4669L0.8 8.85434Z" fill="#101828"/>
                        <path d="M0.400392 8.40042C0.226164 8.40057 0.0718735 8.28794 0.0189379 8.12195C-0.0339977 7.95596 0.0265987 7.77479 0.168752 7.67406L3.76875 5.12206C3.94899 4.99714 4.1962 5.04063 4.32298 5.21956C4.44977 5.39849 4.40884 5.64615 4.23123 5.77478L0.631232 8.32678C0.563822 8.37474 0.483126 8.40049 0.400392 8.40042Z" fill="#101828"/>
                        <path d="M23.5998 8.40042C23.517 8.40049 23.4363 8.37474 23.3689 8.32678L19.7689 5.77478C19.5913 5.64615 19.5504 5.39849 19.6772 5.21956C19.8039 5.04063 20.0512 4.99714 20.2314 5.12206L23.8314 7.67406C23.9736 7.77479 24.0341 7.95596 23.9812 8.12195C23.9283 8.28794 23.774 8.40057 23.5998 8.40042Z" fill="#101828"/>
                        <path d="M15.696 2.80169C15.6132 2.80174 15.5324 2.776 15.4649 2.72805L13.5529 1.37205C12.6653 0.622046 11.3684 0.614233 10.4718 1.35349L8.53584 2.72809C8.41924 2.81078 8.26739 2.82498 8.13748 2.76534C8.00757 2.70571 7.91935 2.5813 7.90604 2.43898C7.89273 2.29667 7.95636 2.15806 8.07296 2.07537L9.98496 0.719372C11.1664 -0.246642 12.867 -0.238959 14.0397 0.737692L15.9277 2.07521C16.07 2.17592 16.1306 2.35717 16.0777 2.52324C16.0247 2.68931 15.8703 2.80196 15.696 2.80169Z" fill="#101828"/>
                        <path d="M0.660135 23.7854C0.491562 23.7855 0.34099 23.68 0.283643 23.5214C0.226297 23.3629 0.274486 23.1855 0.404135 23.0777L9.53214 15.4937C9.64182 15.4004 9.79317 15.3733 9.92841 15.4227C10.0637 15.4721 10.1619 15.5903 10.1857 15.7323C10.2096 15.8743 10.1552 16.0181 10.0435 16.1089L0.915455 23.6929C0.843789 23.7527 0.753437 23.7854 0.660135 23.7854Z" fill="#101828"/>
                        <path d="M23.3395 23.7853C23.2462 23.7854 23.156 23.7527 23.0844 23.6929L13.9564 16.1089C13.8446 16.0181 13.7903 15.8743 13.8141 15.7323C13.8379 15.5903 13.9362 15.4721 14.0714 15.4227C14.2067 15.3733 14.358 15.4004 14.4677 15.4937L23.5955 23.0777C23.7251 23.1855 23.7733 23.3629 23.716 23.5214C23.6586 23.68 23.5081 23.7855 23.3395 23.7853Z" fill="#101828"/>
                        <path d="M19.9996 11.3923C19.7787 11.3923 19.5996 11.2132 19.5996 10.9923V2.80338C19.5985 2.81178 19.5824 2.80046 19.5556 2.80026H4.44361C4.42593 2.79918 4.40858 2.8054 4.39561 2.81746L4.39961 10.9923C4.39961 11.2132 4.22052 11.3923 3.99961 11.3923C3.7787 11.3923 3.59961 11.2132 3.59961 10.9923V2.80026C3.61251 2.34662 3.98993 1.98888 4.44361 2.00026H19.5556C20.0093 1.98893 20.3867 2.34664 20.3996 2.80026V10.9923C20.3996 11.2132 20.2205 11.3923 19.9996 11.3923Z" fill="#101828"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_223_6380">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>
                {% endcase %}
              </div>
              <div class="cus-ep-earn-points-content">
                <h3 class="cus-ep-earn-points-title">{{ block.settings.title }}</h3>
                <p class="cus-ep-earn-points-description">
                  {{ block.settings.points }} points per {{ block.settings.currency | default: '$1.38' }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Bottom Row Actions -->
      <div class="cus-ep-earn-points-row">
        {% for block in section.blocks %}
          {% if block.settings.row == 'bottom' %}
            <div class="cus-ep-earn-points-card" {{ block.shopify_attributes }}>
              <div class="cus-ep-earn-points-icon">
                {% case block.settings.icon %}
                  {% when 'mail' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_223_6380)">
                        <path d="M12.4951 13.5996C11.5985 13.5955 10.7077 13.455 9.85331 13.183C8.48818 12.7263 7.47422 11.5706 7.19899 10.1577C6.89783 8.70709 7.44667 7.17329 8.70447 5.94969C8.83943 5.81825 8.97967 5.69234 9.12519 5.57197C10.413 4.49378 12.1493 4.11909 13.7672 4.57021C15.3335 5.07013 16.4158 6.50155 16.4699 8.14481C16.5286 9.09071 16.2203 10.0228 15.6092 10.7472C15.1378 11.3409 14.3742 11.6213 13.6306 11.4737C13.3265 11.4106 13.0612 11.2265 12.8958 10.9636C12.7473 10.7084 12.7093 10.4036 12.7904 10.1196C13.1402 8.79741 13.4958 6.78801 13.4993 6.76765C13.5242 6.62689 13.6222 6.51007 13.7565 6.4612C13.8909 6.41234 14.0411 6.43885 14.1505 6.53074C14.26 6.62264 14.3122 6.76597 14.2873 6.90673C14.2725 6.99033 13.9223 8.96961 13.5639 10.3241C13.5383 10.3992 13.5447 10.4815 13.5816 10.5516C13.6369 10.6282 13.7204 10.6796 13.8136 10.6946C14.2688 10.7706 14.7286 10.588 15.0076 10.2204C15.4822 9.65267 15.7199 8.92402 15.6716 8.18565C15.6325 6.87764 14.7747 5.73567 13.5294 5.33365C12.1701 4.95977 10.7139 5.27917 9.63579 6.18765C9.50727 6.29433 9.38227 6.40601 9.26235 6.52281C8.64051 7.12769 7.64751 8.38281 7.98211 9.99481C8.20693 11.121 9.01126 12.044 10.0962 12.4206C11.9722 13.019 14.6678 13.0911 16.0882 11.3251C16.2277 11.157 16.4763 11.132 16.6465 11.2689C16.8168 11.4057 16.8457 11.6538 16.7116 11.8262C15.6613 13.1324 14.0631 13.5996 12.4951 13.5996Z" fill="#101828"/>
                        <path d="M11.1256 11.5247C10.7027 11.532 10.2903 11.3934 9.9578 11.1321C9.19004 10.5177 9.16892 9.4503 9.38416 8.72338C9.45664 8.48129 9.55398 8.24735 9.6746 8.0253C9.97473 7.41974 10.4546 6.92171 11.0486 6.59934C11.7884 6.21549 12.6922 6.36105 13.274 6.95774C13.5626 7.27407 13.7801 7.64864 13.9116 8.05618C13.9813 8.26298 13.8723 8.48746 13.6667 8.56067C13.4611 8.63388 13.2348 8.52882 13.1581 8.32454C13.0632 8.02345 12.9056 7.74592 12.6956 7.51026C12.3564 7.16336 11.8278 7.08443 11.4021 7.3171C10.9566 7.56832 10.5986 7.94976 10.3761 8.41026C10.2826 8.58279 10.207 8.76448 10.1507 8.95246C9.99524 9.47826 10.0294 10.1645 10.4583 10.5079C10.9272 10.8845 11.7183 10.7253 12.1634 10.3413C12.4951 10.0427 12.7801 9.69602 13.0089 9.31282C13.083 9.18867 13.2183 9.11417 13.3628 9.11794C13.5073 9.12171 13.6386 9.20318 13.7061 9.33102C13.7736 9.45885 13.7669 9.61317 13.6885 9.73466C13.4175 10.1862 13.0801 10.5944 12.6877 10.9456C12.2503 11.3146 11.6978 11.5195 11.1256 11.5247Z" fill="#101828"/>
                        <path d="M22.8 24.0018H1.2C0.53756 24.0011 0.000727484 23.4643 0 22.8018V8.00182C6.288e-06 7.84671 0.0896867 7.70558 0.230113 7.6397C0.37054 7.57382 0.536393 7.59507 0.65568 7.69422L10.4705 15.8512C11.3586 16.5846 12.6423 16.5844 13.5301 15.8507L23.344 7.69422C23.4633 7.59487 23.6293 7.5735 23.7698 7.6394C23.9104 7.70531 24.0001 7.84658 24 8.00182V22.8018C23.9993 23.4643 23.4624 24.0011 22.8 24.0018ZM0.8 8.85434V22.8018C0.800286 23.0226 0.979205 23.2015 1.2 23.2018H22.8C23.0208 23.2016 23.1998 23.0227 23.2 22.8018V8.85434L14.0408 16.4663C12.8566 17.445 11.1443 17.4453 9.95976 16.4669L0.8 8.85434Z" fill="#101828"/>
                        <path d="M0.400392 8.40042C0.226164 8.40057 0.0718735 8.28794 0.0189379 8.12195C-0.0339977 7.95596 0.0265987 7.77479 0.168752 7.67406L3.76875 5.12206C3.94899 4.99714 4.1962 5.04063 4.32298 5.21956C4.44977 5.39849 4.40884 5.64615 4.23123 5.77478L0.631232 8.32678C0.563822 8.37474 0.483126 8.40049 0.400392 8.40042Z" fill="#101828"/>
                        <path d="M23.5998 8.40042C23.517 8.40049 23.4363 8.37474 23.3689 8.32678L19.7689 5.77478C19.5913 5.64615 19.5504 5.39849 19.6772 5.21956C19.8039 5.04063 20.0512 4.99714 20.2314 5.12206L23.8314 7.67406C23.9736 7.77479 24.0341 7.95596 23.9812 8.12195C23.9283 8.28794 23.774 8.40057 23.5998 8.40042Z" fill="#101828"/>
                        <path d="M15.696 2.80169C15.6132 2.80174 15.5324 2.776 15.4649 2.72805L13.5529 1.37205C12.6653 0.622046 11.3684 0.614233 10.4718 1.35349L8.53584 2.72809C8.41924 2.81078 8.26739 2.82498 8.13748 2.76534C8.00757 2.70571 7.91935 2.5813 7.90604 2.43898C7.89273 2.29667 7.95636 2.15806 8.07296 2.07537L9.98496 0.719372C11.1664 -0.246642 12.867 -0.238959 14.0397 0.737692L15.9277 2.07521C16.07 2.17592 16.1306 2.35717 16.0777 2.52324C16.0247 2.68931 15.8703 2.80196 15.696 2.80169Z" fill="#101828"/>
                        <path d="M0.660135 23.7854C0.491562 23.7855 0.34099 23.68 0.283643 23.5214C0.226297 23.3629 0.274486 23.1855 0.404135 23.0777L9.53214 15.4937C9.64182 15.4004 9.79317 15.3733 9.92841 15.4227C10.0637 15.4721 10.1619 15.5903 10.1857 15.7323C10.2096 15.8743 10.1552 16.0181 10.0435 16.1089L0.915455 23.6929C0.843789 23.7527 0.753437 23.7854 0.660135 23.7854Z" fill="#101828"/>
                        <path d="M23.3395 23.7853C23.2462 23.7854 23.156 23.7527 23.0844 23.6929L13.9564 16.1089C13.8446 16.0181 13.7903 15.8743 13.8141 15.7323C13.8379 15.5903 13.9362 15.4721 14.0714 15.4227C14.2067 15.3733 14.358 15.4004 14.4677 15.4937L23.5955 23.0777C23.7251 23.1855 23.7733 23.3629 23.716 23.5214C23.6586 23.68 23.5081 23.7855 23.3395 23.7853Z" fill="#101828"/>
                        <path d="M19.9996 11.3923C19.7787 11.3923 19.5996 11.2132 19.5996 10.9923V2.80338C19.5985 2.81178 19.5824 2.80046 19.5556 2.80026H4.44361C4.42593 2.79918 4.40858 2.8054 4.39561 2.81746L4.39961 10.9923C4.39961 11.2132 4.22052 11.3923 3.99961 11.3923C3.7787 11.3923 3.59961 11.2132 3.59961 10.9923V2.80026C3.61251 2.34662 3.98993 1.98888 4.44361 2.00026H19.5556C20.0093 1.98893 20.3867 2.34664 20.3996 2.80026V10.9923C20.3996 11.2132 20.2205 11.3923 19.9996 11.3923Z" fill="#101828"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_223_6380">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>
                  {% when 'star' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <g clip-path="url(#clip0_223_6401)">
                          <path d="M22.4184 5.04462L20.996 4.8379L20.3599 3.54902C20.1453 3.11378 19.5242 3.11396 19.3095 3.54902L18.6733 4.8379L17.251 5.04462C16.7709 5.11439 16.579 5.7049 16.9263 6.04365L17.9556 7.04688L17.7126 8.46357C17.6304 8.94367 18.1348 9.30585 18.5626 9.081L19.8348 8.41212L21.107 9.081C21.5362 9.30677 22.0388 8.94202 21.9568 8.46357L21.7138 7.04688L22.743 6.04365C23.0906 5.7049 22.8987 5.11439 22.4184 5.04462ZM21.1788 6.58655C21.0407 6.72114 20.9779 6.91486 21.0103 7.10493L21.2236 8.34785L20.1072 7.76099C19.9368 7.67127 19.7328 7.67127 19.5621 7.76099L18.4459 8.34785L18.6591 7.10474C18.6917 6.91486 18.6287 6.72114 18.4906 6.58655L17.5875 5.70618L18.8356 5.52491C19.0264 5.49708 19.1912 5.37733 19.2765 5.20447L19.8346 4.07362L20.3927 5.20447C20.478 5.37733 20.643 5.49708 20.8338 5.52491L22.0818 5.70618L21.1788 6.58655Z" fill="#101828"/>
                          <path d="M3.71184 3.54904L3.07573 4.83792L1.65337 5.04465C1.17308 5.11441 0.98137 5.70492 1.32872 6.04367L2.35796 7.0469L2.11498 8.46341C2.03258 8.94351 2.53722 9.30588 2.96477 9.08102L4.23717 8.41214L5.50938 9.08102C5.93858 9.30697 6.44121 8.94168 6.35918 8.46359L6.11619 7.0469L7.14543 6.04367C7.49296 5.70492 7.30089 5.11423 6.82078 5.04446L5.39842 4.83774L4.76231 3.54886C4.54753 3.1138 3.92662 3.11398 3.71184 3.54904ZM4.79527 5.2045C4.8806 5.37735 5.04558 5.4971 5.23637 5.52493L6.48424 5.70621L5.58134 6.58639C5.4431 6.72116 5.38011 6.91489 5.4127 7.10495L5.62584 8.34787L4.50963 7.7612C4.33897 7.67148 4.13518 7.67129 3.96452 7.7612L2.84813 8.34805L3.06145 7.10513C3.09404 6.91507 3.03105 6.72134 2.89299 6.58658L1.98991 5.70639L3.23778 5.52493C3.42857 5.49728 3.59355 5.37753 3.67888 5.2045L4.23698 4.07364L4.79527 5.2045Z" fill="#101828"/>
                          <path d="M5.96759 22.4114C5.96759 22.5041 5.89233 22.5795 5.79968 22.5795H4.71826C4.52399 22.5795 4.3667 22.7368 4.3667 22.9311C4.3667 23.1252 4.52399 23.2827 4.71826 23.2827H5.79968C6.22888 23.2827 6.58594 22.9701 6.65698 22.5608L6.90582 22.5607H6.90655C8.13391 22.5607 8.09839 24.0008 10.0371 24.0006H10.0404H16.2057C16.9534 24.0006 17.5616 23.3923 17.5616 22.6447C17.5616 22.2899 17.4247 21.9665 17.2007 21.7246C17.5298 21.4853 17.7499 21.1072 17.7642 20.6824C17.7757 20.3347 17.6576 20.0043 17.4307 19.7449C17.7826 19.5074 18.0207 19.1152 18.035 18.6726C18.0478 18.2791 17.8951 17.9131 17.6173 17.6437C18.5841 16.8342 18.0143 15.2489 16.7476 15.2489C16.7474 15.2489 16.7468 15.2489 16.7466 15.2489H12.8121C13.3929 13.4755 13.3753 13.6194 13.3753 11.5399C13.3753 10.6909 12.6844 10 11.8354 10C11.066 10 10.4097 10.5753 10.309 11.3381C10.0563 13.2481 9.75091 13.4464 8.42523 14.723C8.06396 15.0709 7.58862 15.2626 7.0871 15.2626H6.62439C6.50793 14.9186 6.18255 14.6699 5.79968 14.6699H1.99622C1.51575 14.6699 1.125 15.0607 1.125 15.5411V22.4116C1.125 22.8919 1.51575 23.2827 1.99622 23.2827H3.07745C3.27173 23.2827 3.42902 23.1254 3.42902 22.9311C3.42902 22.737 3.27173 22.5795 3.07745 22.5795H1.99622C1.90356 22.5795 1.82812 22.5043 1.82812 22.4116V15.541C1.82812 15.4483 1.90356 15.373 1.99622 15.373H5.79968C5.89233 15.373 5.96759 15.4483 5.96759 15.541V22.4114ZM6.67071 15.9656H7.08691C7.77136 15.9656 8.41992 15.7041 8.91284 15.2295C10.313 13.8813 10.7249 13.5574 11.0059 11.4302C11.0607 11.0157 11.4172 10.7031 11.8354 10.7031C12.2966 10.7031 12.672 11.0785 12.672 11.5397C12.672 13.5912 12.7075 13.3087 12.0663 15.2661C11.9557 15.6038 12.2078 15.9518 12.5632 15.9518H16.7468H16.7474C17.1077 15.9518 17.4009 16.2435 17.4012 16.6024C17.4014 16.9629 17.1083 17.2567 16.7481 17.2568C16.1224 17.2574 17.6931 17.2572 15.0657 17.2572C14.8716 17.2572 14.7142 17.4147 14.7142 17.6088C14.7142 17.803 14.8716 17.9603 15.0657 17.9603H16.6631H16.6641H16.6648C17.0398 17.9603 17.3443 18.2736 17.332 18.6497C17.3209 18.9974 17.0164 19.2805 16.6531 19.2805C15.8417 19.2805 16.8973 19.2809 15.0657 19.2809C14.8716 19.2809 14.7142 19.4384 14.7142 19.6324C14.7142 19.8265 14.8716 19.984 15.0657 19.984C17.4966 19.984 15.5175 19.9836 16.409 19.9836C16.7745 19.9836 17.0737 20.2848 17.0612 20.6589C17.0497 21.0063 16.7452 21.289 16.3826 21.289C16.3826 21.289 16.3381 21.2894 15.0657 21.2894C14.8715 21.2894 14.7142 21.4468 14.7142 21.6409C14.7142 21.8352 14.8715 21.9925 15.0657 21.9925H16.2138C16.5699 21.9969 16.8583 22.2877 16.8583 22.6449C16.8583 23.0047 16.5655 23.2975 16.2057 23.2975H10.0402C10.0391 23.2975 10.0382 23.2975 10.0373 23.2975C8.40326 23.2975 8.55084 21.8575 6.9071 21.8575C6.90655 21.8575 6.906 21.8575 6.90564 21.8575L6.67071 21.8577V15.9656Z" fill="#101828"/>
                          <path d="M14.8514 4.89896C14.7125 5.03446 14.7097 5.25712 14.8452 5.39609C14.9809 5.53525 15.2034 5.538 15.3424 5.4025L16.5871 4.18925C17.0203 3.76682 16.781 3.03056 16.1824 2.94358L13.7838 2.59513C13.775 2.59385 13.7673 2.58836 13.7634 2.5803L12.6908 0.406837C12.4231 -0.135704 11.6488 -0.135521 11.3812 0.406837L10.3084 2.5803C10.3046 2.58836 10.2969 2.59385 10.2881 2.59513L7.88942 2.94358C7.29084 3.03074 7.05171 3.767 7.48475 4.18925L9.22041 5.88096C9.22682 5.88718 9.22975 5.89615 9.22828 5.90494L8.81849 8.29392C8.71577 8.89231 9.34474 9.34403 9.87794 9.0637L12.0234 7.93577C12.0313 7.93174 12.0406 7.93155 12.0485 7.93577L14.1939 9.0637C14.7291 9.34513 15.3557 8.89011 15.2534 8.29392L14.9855 6.73221C14.9527 6.54069 14.7707 6.41196 14.5797 6.44492C14.3882 6.47788 14.2597 6.65952 14.2926 6.85105L14.5605 8.41276C14.5616 8.41971 14.5632 8.42942 14.5497 8.43931C14.5361 8.44901 14.5275 8.44462 14.5213 8.44132L12.3759 7.31339C12.1631 7.20151 11.9089 7.20151 11.6962 7.31339L9.55073 8.44132C9.54451 8.44462 9.5359 8.44901 9.52235 8.43931C9.5088 8.42942 9.51045 8.41971 9.51155 8.41276L9.92134 6.02396C9.96199 5.78702 9.88362 5.54532 9.71131 5.3776L7.97566 3.68571C7.97071 3.68076 7.96357 3.67399 7.96888 3.65806C7.97401 3.64194 7.98371 3.64066 7.99067 3.63956L10.3894 3.29111C10.6272 3.25651 10.8327 3.10709 10.9392 2.89158L12.0119 0.717933C12.015 0.711708 12.0194 0.702919 12.036 0.702919C12.0529 0.702919 12.0571 0.711708 12.0604 0.717933L13.133 2.89139C13.2394 3.10709 13.4448 3.25651 13.6829 3.29093L16.0816 3.63956C16.0885 3.64048 16.098 3.64194 16.1033 3.65787C16.1085 3.67399 16.1015 3.68076 16.0966 3.68571L14.8514 4.89896Z" fill="#101828"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_223_6401">
                          <rect width="24" height="24" fill="white"/>
                          </clipPath>
                          </defs>
                        </svg>
                  {% when 'building' %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="4" y="2" width="16" height="20" rx="2" stroke="currentColor" stroke-width="2"/>
                      <rect x="9" y="9" width="6" height="3" stroke="currentColor" stroke-width="2"/>
                      <path d="M9 22V12H15V22" stroke="currentColor" stroke-width="2"/>
                    </svg>
                  {% else %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"/>
                      <path d="M9 12L11 14L15 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                {% endcase %}
              </div>
              <div class="cus-ep-earn-points-content">
                <h3 class="cus-ep-earn-points-title">{{ block.settings.title }}</h3>
                <p class="cus-ep-earn-points-description">
                  {{ block.settings.points }} points per {{ block.settings.currency | default: '$1.38' }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
 /* Base Styles */
.cus-ep-earn-points-section {
  padding: 0;
  margin-bottom: 110px;
}

.cus-ep-container {
  margin: 0 auto;
}

.cus-ep-earn-points-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #001F5F;
  margin-bottom: 20px;
  font-family: 'inter' !important;
  line-height: 44px;
}

.cus-ep-earn-points-grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cus-ep-earn-points-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cus-ep-earn-points-card {
  background: white;
  border-radius: 16px;
  padding: 24px 0 24px 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #D0D5DD;
  width: 335px;
  height: 146px;
  flex-shrink: 0;
}

.cus-ep-earn-points-icon {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7280;
  flex-shrink: 0;
  border: 1px solid #D0D5DD;
  padding: 10px;
}

.cus-ep-earn-points-icon svg {
    width: 60px;
    height: 60px;
}
.cus-ep-earn-points-content {
  flex: 1;
}

.cus-ep-earn-points-title {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 4px;
  line-height: 30px;
  margin-top: 0;
}

.cus-ep-earn-points-description {
  font-size: 14px;
  color: #344054;
  margin: 0;
  line-height: 24px;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .cus-ep-earn-points-row {
    gap: 16px;
  }
  
  .cus-ep-earn-points-card {
    width: 280px;
    height: 130px;
    padding: 20px 0 20px 20px;
  }
  
  .cus-ep-earn-points-icon {
    width: 60px;
    height: 60px;
    padding: 8px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .cus-ep-earn-points-section {
    padding: 40px 0;
  }

  .cus-ep-container {
    padding: 0 16px;
  }

  .cus-ep-earn-points-heading {
    font-size: 30px;
    margin-bottom: 32px;
    line-height: 36px;
  }

  .cus-ep-earn-points-grid {
    gap: 16px;
  }

  .cus-ep-earn-points-row {
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
  }

  .cus-ep-earn-points-card {
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 120px;
    padding: 20px;
    margin: 0 auto;
    gap: 12px;
  }

  .cus-ep-earn-points-icon {
    width: 54px;
    height: 54px;
    padding: 0px;
  }

  .cus-ep-earn-points-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2px;
  }

  .cus-ep-earn-points-description {
    font-size: 14px;
    line-height: 20px;
  }
}

/* Small Mobile Styles */
@media (max-width: 480px) {
  .cus-ep-earn-points-heading {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .cus-ep-earn-points-card {
    padding: 16px;
    min-height: 100px;
    gap: 10px;
  }

  .cus-ep-earn-points-icon {
    width: 54px;
    height: 54px;
    padding: 0px;
  }

  .cus-ep-earn-points-title {
    font-size: 16px;
    line-height: 22px;
  }

  .cus-ep-earn-points-description {
    font-size: 14px;
    line-height: 18px;
  }
}
</style>

{% schema %}
{
  "name": "Earn Points Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "More ways to earn points"
    }
  ],
  "blocks": [
    {
      "type": "earn_action",
      "name": "Earn Action",
      "settings": [
        {
          "type": "select",
          "id": "row",
          "label": "Row Position",
          "options": [
            {
              "value": "top",
              "label": "Top Row"
            },
            {
              "value": "bottom",
              "label": "Bottom Row"
            }
          ],
          "default": "top"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Action Title",
          "default": "Make a purchase"
        },
        {
          "type": "text",
          "id": "points",
          "label": "Points Amount",
          "default": "1000"
        },
        {
          "type": "text",
          "id": "currency",
          "label": "Currency/Unit",
          "default": "$1.38",
          "info": "e.g., $1.38, per review, per follow"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "cart",
              "label": "Shopping Cart"
            },
            {
              "value": "user",
              "label": "User Account"
            },
            {
              "value": "thumbs-up",
              "label": "Thumbs Up (Like)"
            },
            {
              "value": "heart",
              "label": "Heart (Follow)"
            },
            {
              "value": "mail",
              "label": "Mail (Newsletter)"
            },
            {
              "value": "star",
              "label": "Star (Review)"
            },
            {
              "value": "building",
              "label": "Building (Company)"
            }
          ],
          "default": "cart"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Earn Points Section",
      "blocks": [
        {
          "type": "earn_action",
          "settings": {
            "row": "top",
            "title": "Make a purchase",
            "points": "1000",
            "currency": "$1.38",
            "icon": "cart"
          }
        },
        {
          "type": "earn_action",
          "settings": {
            "row": "top",
            "title": "Create an account",
            "points": "1000",
            "currency": "$1.38",
            "icon": "user"
          }
        },
        {
          "type": "earn_action",
          "settings": {
            "row": "top",
            "title": "Like us on Facebook",
            "points": "1000",
            "currency": "$1.38",
            "icon": "thumbs-up"
          }
        },
        {
          "type": "earn_action",
          "settings": {
            "row": "top",
            "title": "Follow us on Instagram",
            "points": "1000",
            "currency": "$1.38",
            "icon": "heart"
          }
        },
        {
          "type": "earn_action",
          "settings": {
            "row": "bottom",
            "title": "Sign up to mailing list",
            "points": "1000",
            "currency": "$1.38",
            "icon": "mail"
          }
        },
        {
          "type": "earn_action",
          "settings": {
            "row": "bottom",
            "title": "Product Review",
            "points": "1000",
            "currency": "$1.38",
            "icon": "star"
          }
        },
        {
          "type": "earn_action",
          "settings": {
            "row": "bottom",
            "title": "Company Review",
            "points": "1000",
            "currency": "$1.38",
            "icon": "building"
          }
        }
      ]
    }
  ]
}
{% endschema %}